body {
  margin: 0;
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
}

@font-face {
  font-family: 'LongCang-Regular';
  src: url('./assets/fonts/LongCang-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaShanZheng-Regular';
  src: url('./assets/fonts/MaShanZheng-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikVinyl-Regular';
  src: url('./assets/fonts/RubikVinyl-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZCOOLXiaoWei-Regular';
  src: url('./assets/fonts/ZCOOLXiaoWei-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '鸿雷拙书简体';
  src: url('./assets/fonts/鸿雷拙书简体.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aa剑豪体';
  src: url('./assets/fonts/Aa剑豪体.woff2');
  font-weight: normal;
  font-style: normal;
}

.skeleton-template {
  position: relative;
  width: 128px;
  height: 72px;
  background-color: var(--el-fill-color-darker);
  border: 1px solid var(--el-fill-color-darker);
  cursor: pointer;

  &.active {
    border-color: var(--el-color-primary);
  }

  .card {
    position: absolute;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    // aspect-ratio: 2/1;
    background-color: #fff;
    border-radius: 4px;
  }

  .title {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--el-fill-color-darker);
  }

  .logo {
    position: absolute;
    bottom: 25%;
    left: 20%;
    height: 10%;
    aspect-ratio: 1;
    background-color: var(--el-fill-color-darker);
    border-radius: 50%;
    font-size: 0;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  .author {
    position: absolute;
    bottom: 25%;
    right: 20%;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    background-color: var(--el-fill-color-darker);
  }

  .img-container {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
    height: 80%;
    background-color: transparent;
    overflow: hidden;
    display: none;

    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      max-height: 100%;
      object-fit: cover;
    }
  }

  &.skeleton-two {
    .card {
      display: none;
    }

    .title {
      width: 70%;
      left: 15%;
      background-color: #fff;
    }

    .logo {
      left: 47%;
      bottom: 33%;
      background-color: #fff;
    }

    .author {
      right: 40%;
      bottom: 20%;
      height: 9%;
      justify-content: center;
      background-color: #fff;
    }
  }

  &.skeleton-three {
    .card {
      display: none;
    }

    .title {
      top: 40%;
      justify-content: flex-start;
      background-color: #fff;
    }

    .logo {
      bottom: 70%;
      background-color: #fff;
    }

    .author {
      left: 20%;
      right: auto;
      justify-content: flex-start;
      background-color: #fff;
    }
  }

  &.skeleton-four {
    .logo {
      height: 12%;
      left: 8%;
      bottom: 50%;
      transform: translateY(50%);
      padding: 1%;
      background-color: #fff;
      box-sizing: border-box;
    }

    .card {
      top: 10%;
      left: 30%;
      width: 65%;
      height: 80%;
    }

    .title {
      top: 34%;
      left: 35%;
      width: 55%;
      justify-content: flex-start;
    }

    .author {
      bottom: 35%;
      left: 35%;
      justify-content: flex-start;
    }
  }

  &.skeleton-five {
    .card {
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
    }

    .title {
      width: 34%;
      left: 10%;
      margin: 0 3%;
    }

    .logo {
      left: 18%;
    }

    .author {
      left: 25%;
      right: auto;
      width: 14%;
      justify-content: center;
    }

    .img-container {
      display: block;
      border-left: 1px solid var(--el-fill-color-darker);

      .icon-pic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 60%;
        aspect-ratio: 1;
        color: var(--el-fill-color-darker);
      }
    }
  }

  &.skeleton-six {

    .card,
    .logo,
    .author {
      display: none;
    }

    .title {
      width: 70%;
      left: 15%;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
    }
  }

  &.skeleton-seven {

    .card,
    .title,
    .logo,
    .author {
      display: none;
    }

    .img-container {
      display: block;
      width: 80%;
      background-color: transparent;

      .icon-pic {
        aspect-ratio: 16/9;
        color: #fff;
      }
    }
  }

  &.skeleton-eight {

    .card,
    .logo,
    .author {
      display: none;
    }

    .title {
      width: 70%;
      left: 15%;
      top: 10%;
      background-color: #fff;
    }

    .img-container {
      display: block;
      top: auto;
      bottom: 0;
      right: 15%;
      width: 70%;
      height: 80%;
      background: transparent;

      .icon-pic {
        margin-left: -10%;
        width: 120%;
        color: #fff;
      }
    }
  }

  &.skeleton-nine {

    .card,
    .logo,
    .author {
      display: none;
    }

    .title {
      left: 5%;
      top: 45%;
      width: 40%;
      background-color: #fff;
    }

    .img-container {
      display: block;
      right: 5%;
      width: 40%;
      border-left: 1px solid var(--el-fill-color-darker);
      background-color: #fff;

      .icon-pic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 60%;
        aspect-ratio: 1;
        color: var(--el-fill-color-darker);
      }
    }
  }
}

.preview-container.skeleton-template {
  cursor: default;

  .title {
    height: auto;
    background-color: transparent;
  }

  .logo {
    background-color: transparent;
  }

  .author {
    background-color: transparent;
  }

  &.skeleton-two {
    .title {
      color: #fff;
    }

    .logo {
      bottom: 30%;
    }

    .author {
      height: 10%;
      color: #fff;
    }
  }

  &.skeleton-three {
    .title {
      color: #fff;
    }

    .author {
      color: #fff;
    }
  }

  &.skeleton-four {
    .logo {
      height: 15%;
      background-color: #fff;
    }
  }

  &.skeleton-five {
    .img-container {
      border-left: none;
    }
  }

  &.skeleton-six {
    .title {
      color: #fff;
    }
  }

  &.skeleton-eight {
    .img-container {
      height: auto;
    }

    .title {
      color: #fff;
    }
  }

  &.skeleton-nine {
    .img-container {
      border-left: none;
    }

    .title {
      color: #fff;
    }
  }
}

.popper-icons {
  .el-select-dropdown__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .option-icon {
    width: 20px;
    height: 20px;
  }
}

.gradient-custom {
  .el-link {
    margin: 0 10px;
  }
}

.links-wrapper {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}